# Configure aqui os seus logins reais
# Copie este arquivo e renomeie para ".env", preenchendo os dados.

# Dados da Primeira Conta
CONTA1_EMAIL="primeiro_email@w1.com.br"
CONTA1_SENHA="senha_do_primeiro_email"

# Dados da Segunda Conta
CONTA2_EMAIL="segundo_email@w1.com.br"
CONTA2_SENHA="senha_do_segundo_email"
